
@font-face 
{ 	
	font-family: "tekton"; 	
	src: url('../font/TektonPro-BoldCond.otf');
}


body, html
{
	margin: 0;
	padding: 0;
	background-color: #3a3a3a;
	width: 100%;
	font-family: tekton;
	border-bottom: 10px solid #222;
}
body > *
{
	margin-left: 55px;
}
iframe
{
	width: 100%;
}

a, li, ul
{
	text-decoration: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.titre
{
	color: rgb(255, 255, 255);
	font-size: 22px;
	padding: 5px 5px 5px 15px;
	background: #282828;
	margin: 0;
}
.nuance
{
	background-color: rgb(46, 46, 46);
}





/*    Navigateur du site      */

nav
{
	display: inline-block;
	margin: 0!important;
	position: fixed;
	background: #222;
}
nav > ul > li
{
	text-align: center;
	border-bottom: 2px solid rgb(58, 58, 58);
	padding: 5px;
	width: 45px;
	height: 45px;
	background-repeat: no-repeat;
	background-position: 50% 15%;
	background-size: 40px;
}

nav > ul > li:nth-child(2)
{
	background-image: url('../img/rechercher.png');
}

nav > ul > li:nth-child(3)
{
	background-image: url('../img/accueil1.png');
}


nav > ul > li:nth-child(4)
{
	background-image: url('../img/cinema.png');
}


nav > ul > li:nth-child(5)
{
	background-image: url('../img/serie.png');
}


nav > ul > li:nth-child(6)
{
	background-image: url('../img/film.png');
}


nav > ul > li:nth-child(7)
{
	background-image: url('../img/forum.png');
}


nav > ul > li:nth-child(8)
{
	background-image: url('../img/parametre.png');
}


nav > ul > li:hover:nth-child(2), li.actif:nth-child(2)
{
	background-image: url('../img/rechercher1.png');
}

nav > ul > li:hover:nth-child(3) , li.actif:nth-child(3)
{
	background-image: url('../img/accueil.png');
}

nav > ul > li:hover:nth-child(4),  li.actif:nth-child(4)
{
	background-image: url('../img/cinema1.png');
}

nav > ul > li:hover:nth-child(5), li.actif:nth-child(5)
{
	background-image: url('../img/serie1.png');
}

nav > ul > li:hover:nth-child(6), li.actif:nth-child(6)
{
	background-image: url('../img/film1.png');
}

nav > ul > li:hover:nth-child(7), li.actif:nth-child(7)
{
	background-image: url('../img/forum1.png');
}

nav > ul > li:hover:nth-child(8), li.actif:nth-child(8)
{
	background-image: url('../img/parametre1.png');
}

nav > ul > li:first-child
{
	font-size: 20px;
	color: #fff;
	padding-top: 55%;
}
nav > ul > li > a
{
	color: rgb(116, 116, 116);
	font-size: 11px;
	display: block;
	margin-top: 85%;
}











/*      Header - Slider    */



												/*          PAGE D'ACCUEIL        */








/*     Bande Annonce    */

#bandeAnnonce
{
	margin: 0 5px;
	border-bottom: 10px solid #222;
	text-align: center;
}
#bandeAnnonce > li
{
	display: inline-block;
	padding: 0 1%;
	margin-top: 10px;
	width: 18%;
}
#bandeAnnonce > li:nth-child(2)
{
	padding-left: 0;
}
#bandeAnnonce > li:last-child
{
	padding-right: 0;
}
#bandeAnnonce:first-child > li > span
{
	display: block;
	color: rgb(255, 255, 255);
	position: relative;
	margin: 0;
	text-align: left;
}
#bandeAnnonce:first-child > li > span > i
{
	font-style: normal;
}
#bandeAnnonce:first-child > li > span > i:last-child
{
	position: absolute;
	right: 0;
}






/*       Nouveaux Films et Nouvelles Series      */

#news
{
	margin: 25px 5px;
	/*width: 99%;*/
}
#news > *
{
	display: inline-block;
	vertical-align: top;
}
#news > div
{
	width: 65%;
}
#news > div > ul
{
	margin: 0 0 25px 0;
	border-bottom: 10px solid #222;
}
#news > ul
{
	width: 32.5%;
	height: 590px;
}
#news > div > ul > li
{
	color: rgb(255, 255, 255);
	font-size: 15px;
	padding: 7px 0px;
	position: relative;
}
#news > div > ul > li > span:last-child
{
	position: absolute;
	right: 10px;
}
#news > div > ul > li > span:nth-child(2)
{
	position: absolute;
	left: 50%;
}









/*       A l'affiche et Les Plus vus    */

#news > ul
{
	margin: 0 0 0 2%;
	border-bottom: 10px solid #222;
}

#news > ul > h2
{
	text-align: center;
}

#news > ul
{
	background-color: rgb(58, 58, 58);
	vertical-align: middle;
	overflow: hidden;
}

#news > ul > li
{
	padding: 5px 0px 5px 10px;
}

#news > ul > li > img
{
	display: inline-block;
	width: 90px;
}

#news > ul > li > ul
{
	display: inline-block;
	vertical-align: top;
	width: 50%;
	padding-left: 8px;
}

#news > ul > li > ul > li
{
	font-family: tekton;
	color: rgb(255,255,255);
}

div:nth-child(4)
{
	width: 98%;
	vertical-align: top;
}
#lesPlusVus
{
	margin: 0 5px;
}
#lesPlusVus > h2
{
	text-align: center;
	margin: 0;
}
#lesPlusVus > li
{
	color: rgb(255, 255, 255);
	font-size: 15px;
	padding: 7px 0px;
	position: relative;
}
#lesPlusVus > li > span:last-child
{
	position: absolute;
	right: 10px;
}

#lesPlusVus > li > span:nth-child(2)
{
	position: absolute;
	left: 25%;
}

#lesPlusVus > li > span:nth-child(3)
{
	position: absolute;
	left: 45%;
}

#lesPlusVus > li > span:nth-child(4)
{
	position: absolute;
	left: 65%;
}




													/*     PAGE CINEMA      */

.filmCinema
{
	margin: 20px 0px 0px 55px;
}

.filmCinema > li
{
	background-color: #222;
	margin: 0 auto 25px auto;
	width: 80%;
	position: relative;
	max-height: 800px;
}

.filmCinema > li > a > img
{
	display: inline-block;
	margin: 34px 8px;
}


.filmCinema > li > a > ul
{
	display: inline-block;
	vertical-align: top;
	margin-top: 34px;
	position: relative;
}

.filmCinema > li > a > ul > li
{
	color: white;
	font-size: 18px;
}

.filmCinema > li > a > ul > li > span:nth-child(1)
{
	color: rgb(94, 94, 94);
	vertical-align: top;
}

.filmCinema > li > a > ul > li > span:nth-child(2)
{
	position: absolute;
	left: 27%;
	min-width: 125%;
}

.filmCinema > li > a > ul > li > p
{
	width: 450px;
	display: inline-block;
	margin: 0px 0px 0px 27%;
}

/*   Bouton Bande Annonce*/
.filmCinema > li > a > button
{
	color: white;
	background-color: black;
	padding: 5px 0px;
	width: 136px;
	border-radius: 2px;
	box-shadow: 2px 2px 5px #3a3a3a;
	cursor: pointer;
	position: absolute;
	bottom: 5px;
	left: 45%;
}

.filmCinema > li > a > button > img
{
	margin: 0 auto;
	display: block;
}



/*                     PAGE SERIE                                          */

#serieTop
{
	border-bottom: 8px solid #222;
	width: 90%;
	margin: 20px auto;
	text-align: center;
}

#serieTop > li
{
	display: inline-block;
	width: 11%;
	height: 280px;
	margin: 5px 6px 2px 6px;
	color: rgb(255, 255, 255);
	vertical-align: top;
	text-align: center;
	overflow: hidden;
}

#serieTop > li > a
{
	color: rgb(255, 255, 255);
}

#serieTop > li > a > h3
{
	font-size: 13px;
	margin: 4px 0px;
}

#serieTop > li > a > img
{
	height: 85%;
	width: 100%;
}




#derniersAjouts
{
	width: 45%;
	height: 336px;
	display: inline-block;
	vertical-align: top;
	margin-left: 50px;
	border-bottom: 8px solid #222;
	overflow: hidden;
}

#derniersAjouts > li
{
	width: 23%;
	display: inline-block;
	text-align: center;
	margin: 8px 5px;
	font-size: 70%;
}

#derniersAjouts > li > a 
{
	color: rgb(171, 171, 171);
}

#derniersAjouts > li > a > h3
{
	margin: 0px;
}

#derniersAjouts > li > a > span
{
	display: block;
	width: 100%;
	height: 100px;
}

#derniersAjouts > li > a > span > img
{
	width: 100%;
	height: 100%;
}





#newsMedia
{
	margin: 0px 0px 50px 20px;
	width: 45%;
	font-size: 17px;
	color: rgb(114, 114, 114);
	border-bottom: 8px solid #222;
	display: inline-block;
}

#newsMedia > ul
{
	height: 300px;
	overflow: auto;
}

#newsMedia > ul > li
{
	margin-left: 8px;
	position: relative;
}

#newsMedia > ul > li > h3
{
	margin: 0px;
	color: rgb(171, 171, 171);
	font-size: 14px;
}

#newsMedia > ul > li > p
{
	margin: 7px 0px 7px 10px;
	width: 38%;
	display: inline-block;
}

#newsMedia > ul > li > img
{
	position: absolute;
	right: 10px;
}




.affichage
{
	width: 80%;
	background-color: #222;
	margin: 15px auto;
	color: white;
}

.affichage > img
{
	display: inline-block;
	margin: 10px 10px;
}

.affichage > ul
{
	display: inline-block;
	vertical-align: top;
}

.affichage > iframe
{
	width: 75%;
	margin: 30px auto;
	display: block;
}

.affichage > ul > li
{
	position: relative;
}

.affichage > ul > li > span
{
	color: rgb(94, 94, 94);
	margin: 15px 0px 0px 20px;
	display: inline-block;
	vertical-align: top;
}

.affichage > ul > li > span:nth-child(2)
{
	position: absolute;
	left: 15%;
	color: white;
}


.affichage > ul > li > p
{
	width: 400px;
	display: inline-block;
	margin-left: 10px;	
}

.choixSaison
{
	display: inline-block;
}

.choixSaison > h3
{
	background-color: #3a3a3a;
	padding: 10px 30px;
	width: 55px;
	margin: 0px 15px;
}

.choixSaison > li
{
	text-align: center;
}

.choixSaison > li > a
{
	color: white;
}