
@font-face 
{ 	
	font-family: "tekton"; 	
	src: url('font/TektonPro-BoldCond.otf');
}


body, html
{
	margin: 0 auto;
	padding: 0px;
	background-color: rgb(34, 34 ,34);
	/*min-width: 1285px;*/
	width: 1280px;
	font-family: tekton;
}


a, li, ul
{
	text-decoration: none;
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.titre
{
	color: rgb(255, 255, 255);
	font-size: 22px;
	padding: 5px 5px 5px 15px;
	background: #282828;
	margin: 0;
}
.nuance
{
	background-color: rgb(46, 46, 46);
}





/*    Navigateur du site      */

nav
{
	display: inline-block;
	background-color: rgb(34, 34 ,34);
	width: 135px;
}

nav > ul > li
{
	text-align: center;
	border-bottom: 4px solid rgb(58, 58, 58);
	height: 100px;
}

nav > ul > li > a
{
	color: rgb(116, 116, 116);
	vertical-align: middle;
}

nav > ul > li > a > img
{
	display: block;
	margin: 15px auto 0px auto;
}


#menu
{
	height: 40px;
	font-size: 23px;
	color: rgb(255, 255, 255);
	vertical-align: bottom;
	font-family: tekton;
	padding-top: 200px;
}











/*      Header - Slider    */

div
{
	display: inline-block;
	vertical-align: top;
	width: 1140px;
	background-color: rgb(58, 58 ,58);
}








/*     Bande Annonce    */

#bandeAnnonce
{
	margin: 0 5px;
	border-bottom: 10px solid rgb(34, 34, 34);
	text-align: center;
}
.spanEspace
{
	margin-right: 35px;
}
section > ul > li
{
	display: inline-block;
	padding: 0 9px;
	margin-top: 10px;
}
section > ul > li:nth-child(2)
{
	padding-left: 0;
}
section > ul > li:last-child
{
	padding-right: 0;
}
section > ul:first-child > li > span
{
	display: block;
	color: rgb(255, 255, 255);
	position: relative;
	margin: 0;
}
section > ul:first-child > li > span > i
{
	font-style: normal;
}
section > ul:first-child > li > span > i:last-child
{
	position: absolute;
	right: 0;
}






/*       Nouveaux Films et Nouvelles Series      */

#news
{
	margin: 25px 5px;
	width: 1133px;
}
#news > *
{
	display: inline-block;
}
#news > div
{
	width: 794px;
}
#news > div > ul
{
	margin: 0 0 25px 0;
	border-bottom: 10px solid rgb(34, 34, 34);
}
#news > ul
{
	width: 315px;
}
#news > div > ul > li
{
	color: rgb(255, 255, 255);
	font-size: 15px;
	padding: 7px 0px;
	position: relative;
}

#news > div > ul > li > span:last-child
{
	position: absolute;
	right: 10px;
}

#news > div > ul > li > span:nth-child(2)
{
	position: absolute;
	left: 50%;
}









/*       A l'affiche et Les Plus vus    */

.affiche
{
	margin: 0 0 0 21px;
	border-bottom: 10px solid rgb(34, 34, 34);
}

.affiche > h2
{
	text-align: center;
}

.affiche
{
	background-color: rgb(58, 58, 58);
	vertical-align: middle;
	height: 580px;
	overflow: auto;
}

.affiche > li
{
	padding: 5px 0px 5px 10px;
}

.affiche > li > img
{
	display: inline-block;
	width: 90px;
}

.affiche > li > ul
{
	display: inline-block;
	vertical-align: top;
	width: 190px;
}

.affiche > li > ul > li
{
	font-family: tekton;
	color: rgb(255,255,255);
}

div:nth-child(4)
{
	width: 98%;
	vertical-align: top;
}

#lesPlusVus > li > span
{
	width: 218px;
}

#lesPlusVus > li > span:nth-child(3)
{
	text-align: left;
}

#lesPlusVus > li > span:nth-child(5)
{
	text-align: right;
}